body {
    margin: 0;
}

#header {
    height:35px;   
    text-align:center;
    width: 100%;
    color:#8034ef;
    background: url("images/headerimg.jpg") center no-repeat;
    margin: auto;         
}

#footer {
    height:20px;
    border-top:1px solid #808080;
    border-bottom:1px solid #808080;
    text-align:center; 
    width:100%;
    color:#aa9696;  
    margin: auto;         
}


#main-content {
    width:100%;
    padding: 5px;
    height:720px;
    text-align: center;
    background: url("images/logo.png") center no-repeat;
    margin: auto;
}

.scoretable{
    position:absolute;      
    color:darkblue;
    font-size:15px;
    font-weight:bold;   
}

#scoretablectrl {
    text-align: center;                
    height:50%;
}

#questionstable{
    width: 100%;    
    position: absolute;
    bottom: 10px;      
}

.orangetextcolor{
    color:orange;
}

.currentscore{
    background-color:orangered;
}

.messagebox{
    height: 20px;
}

.passedscore{
    background-color: white;
    color:grey;
}

.logimg{
    position:absolute;
    text-align:center;
    width:100%;
}

td{
    text-align:center;
}

.leftblock{
    text-align:right;
}

.rightblock{
    text-align:left;
}

.butA{
    background-image:url("images/answer_panelA.png");
    height:53px;
    width:512px;
    background-color: white; 
    font-size: 20px;
    color:white;
    cursor:pointer;
    text-align:center;
}

.butA:hover{
    background-image:url("images/chosen_panelA.png"); 
}

.butB{
    background-image:url("images/answer_panelB.png");
    height:53px;
    width:512px;
    background-color: white; 
    font-size: 20px;
    color:white;
    cursor:pointer;
    text-align:center;
}

.butB:hover{
    background-image:url("images/chosen_panelB.png");
}

.butC{
    background-image:url("images/answer_panelC.png");
    height:53px;
    width:512px;
    background-color: white; 
    font-size: 20px;
    color:white;
    cursor:pointer;
    text-align:center;
}

.butC:hover{
    background-image:url("images/chosen_panelC.png");
}

.butD{
    background-image:url("images/answer_panelD.png");
    height:53px;
    width:512px;
    background-color: white; 
    font-size: 20px;
    color:white;
    cursor:pointer;
    text-align:center;
}

.butD:hover{
    background-image:url("images/chosen_panelD.png");
}

.correctA{
    background-image:url("images/correct_panelA.png");
    height:53px;
    width:512px;
    background-color: white; 
    font-size: 20px;
    color:white;
}

.correctB{
    background-image:url("images/correct_panelB.png");
    height:53px;
    width:512px;
    background-color: white; 
    font-size: 20px;
    color:white;
}

.correctC{
    background-image:url("images/correct_panelC.png");
    height:53px;
    width:512px;
    background-color: white; 
    font-size: 20px;
    color:white;
}

.correctD{
    background-image:url("images/correct_panelD.png");
    height:53px;
    width:512px;
    background-color: white; 
    font-size: 20px;
    color:white;
}

.help1{
    background-image:url("images/50.png");
    height:65px;
    width:100px;
    background-color: white; 
    font-size: 20px;
    color:white;
    cursor:pointer;
    text-align:center;
}

.help1u{
    background-image:url("images/50used.png");
    height:65px;
    width:100px;
    background-color: white; 
    font-size: 20px;
    color:white;
    text-align:center;
}

.help2{
    background-image:url("images/call.png");
    height:65px;
    width:100px;
    background-color: white; 
    font-size: 20px;
    color:white;
    cursor:pointer;
    text-align:center;
}

.help2u{
    background-image:url("images/callused.png");
    height:65px;
    width:100px;
    background-color: white; 
    font-size: 20px;
    color:white;
    text-align:center;
}

.help3{
    background-image:url("images/hall.png");
    height:65px;
    width:100px;
    background-color: white; 
    font-size: 20px;
    color:white;
    cursor:pointer;
    text-align:center;
}

.help3u{
    background-image:url("images/hallused.png");
    height:65px;
    width:100px;
    background-color: white; 
    font-size: 20px;
    color:white;
    text-align:center;
}

.questpanel{
    background-image:url("images/question_panel.png");
    height:85px;
    width:1024px;
    background-color: white; 
    font-size: 20px;
    color:white;
}

.gameovermsg {
    top: 400px;
    background-image:url("images/question_panel.png");
    height:85px;
    width:1024px;
    background-color: white; 
    font-size: 20px;
    color:white;
}

.Restart {
    height: 300px;
    width: 300px;
    background-image: url("images/restartbtn.png");
    background-color: white;
}

#dMessage {
    width: 100%;   
    height: 30%;
    
}

#dRestart {
    width: 100%;
    text-align: right;    
}
